.form {
    padding: 20px;
  }
  
  input {
    margin: 10px 0;
    -moz-border-radius:21px;
	-webkit-border-radius:21px;
	border-radius:21px;
  }
.button {
	background-color:var(--c-secondary);
	-moz-border-radius:21px;
	-webkit-border-radius:21px;
	border-radius:21px;
	border:1px solid gray;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}